@{
    ViewData["Title"] = "AdminPage";
}

@using Microsoft.AspNetCore.Identity
@using MVC_TDPC13.DB.Entities
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager


<h1>@ViewData["Title"]</h1>



