@{
	ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="container">




	<div class="text-center">
		<div class="row">
			<div class="col-sm-12">

				<h1 class="display-4">Benvenuti nel Regno Del Sole</h1>
				<br /><br /><br />
				<div>
					<img src="https://www.turismo-oggi.com/wp-content/uploads/2018/02/villaggio-vacanze-770x405.jpg" />

				</div>
				<br />
				<br />
				<div>
					Benvenuti nel Paradiso!<br /> Il Regno del Sole vi offrirà due SUITE ( Silver e Gold ) prenotabili solo per il mese di Agosto.<br /> I pacchetti prevede un mese di vacanza in una delle nostre suite.<br /> Abbiamo un totale di 3 Suite per tipologia<br /> Prezzi: <br /> Suite Silver € 150.000,00 / mese - All Inclusive - (Bevande escluse)<br /> Suite Gold € 375.000,00 / mese - All Inclusive <br />
					<br /> Ecco qui le vostre SUITE:<br />
					<!--
					<div id="imgSuites">
						<p id="nomeSuiteSilver"> &lt; Soluzione Silver</p>
						<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbs.dreamstime.com%2Fb%2Fabitazione-africana-tipica-della-capanna-di-dagga-e-del-fango-47124659.jpg&f=1&nofb=1" id="imgSuiteSilver" />

						<p id="nomeSuiteGold">Soluzione Gold &gt; </p>
						<img id="imgSuiteGold" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.PCFM6kAbWYh_sF0Y3gkdewHaE2%26pid%3DApi&f=1" />

					</div>
					-->
					<div class="container">
						<div class="row">
							<table>
								<tr>
									<td>
										<img class="imgSuite" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbs.dreamstime.com%2Fb%2Fabitazione-africana-tipica-della-capanna-di-dagga-e-del-fango-47124659.jpg&f=1&nofb=1" />
									</td>
									<td><p class="imgSuiteParagraph">&lt; Soluzione Silver</p></td>
								</tr>
							</table>
						</div>
						<div class="row">
							<table>
								<tr>
									<td><p class="imgSuiteParagraph">Soluzione Gold &gt;</p></td>
									<td>
										<img class="imgSuite" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.PCFM6kAbWYh_sF0Y3gkdewHaE2%26pid%3DApi&f=1" />
									</td>
								</tr>

							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<br>
	<br>
	




	<div class="text-center">

		<div class="row">
			<div class="col-sm-12">
				<div id="divInsertUser">

					<p>Iscriviti per poter prenotare la tua vacanza da sogno!</p>
					Nome: <input type="text" id="nome" /><br /> Cognome:
					<input type="text" id="cognome" /><br /> UserName:
					<input type="text" id="username" /><br /> Telefono:
					<input type="text" id="telefono" /><br /> Email:
					<input type="text" id="email" /><br /> Password: <input type="text" id="password" /><br /> ConfirmPassword <input type="text" id="confirmPassword" />
					<br><br><br>
					<button onclick="register()" class="btn btn-primary">Iscriviti per prenotare la tua vacanza</button>


				</div>

			</div>


		</div>








	</div>
</div>