@{
    ViewData["Title"] = "PrenotazioniUser";
}

@using Microsoft.AspNetCore.Identity
@using MVC_TDPC13.DB.Entities
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager




<h1>@ViewData["Title"]</h1>

<h3>Lista Prenotazioni delle tue prenotazioni</h3>



@using Microsoft.AspNetCore.Identity
@using MVC_TDPC13.DB.Entities
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager


<h1>@ViewData["Title"]</h1>

<h4>Lista prenotazioni</h4>



@model List<PrenotazioneModel>;

<table>
    <tr>
        <td> Utente</td>
        <td> Suite</td>        
    </tr>
    @foreach (PrenotazioneModel p in Model)
    {
        <tr>
            <td>@p.User</td>
            <td>@p.Suite</td>
            
        </tr>
    }
</table>
                 